<html>
    <head>
        <title>Deepthi's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 7.04.2020, 17:49</p>
            <h2><a href="">My first post</a></h2>
            <p>Hi there.</p>
        </div>

        <div>
            <p>published: 7.04.2020, 17:49</p>
            <h2><a href="">My second post</a></h2>
            <p>It's working.</p>
        </div>
    </body>
</html>

